apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: cinevision
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: user-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres:5432/cine_vision"
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: "http://eureka:8761/eureka/"
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: cinevision
spec:
  selector:
    app: user-service
  ports:
    - port: 8081
      targetPort: 8081
